@use "../../../../scss/abstracts/" as *;

.span {
  background-color: $color-brand-brand-1;
  color: $color-grey-scale-grey-10;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.p {
  @include text-style-text-body-1-400;
  margin: 0;
  font-size: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
