@use "../../../../scss/abstracts/" as *;

.conteiner {
  display: flex;
  a {
    display: flex;

    margin-left: 4.5rem;
    padding: 1.5rem;

    color: $color-brand-brand-1;

    transition: 400ms;
    @include text-style-inputs-buttons-button-big-text;
  }

  .login:hover {
    color: $color-random-profile-11;
  }

  .register {
    outline: 2px solid $color-grey-scale-grey-6;
    color: $color-grey-scale-grey-0;

    border-radius: 4px;
  }

  .register:hover {
    background-color: $color-grey-scale-grey-0;
    color: $color-grey-scale-grey-10;
    outline: none;

    transition: 400ms;
  }
}
