@use "../../scss/abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

.allPage {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: $color-grey-scale-grey-10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 60px;
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 5%;

  .divLeft {
    width: 70%;
  }

  .divRight {
    width: 30%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;

    border-left: 2px solid #dee2e6;

    h3 {
      @include text-style-text-body-1-600;
      color: $color-grey-scale-grey-2;
    }

    button {
      @include button-register;
    }
  }
}
.sectionAnnounceAndSocial {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    $color-brand-brand-1 31.25%,
    $color-brand-brand-4 31.26%,
    $color-brand-brand-4 100%
  );
}
.boxAnnounceAndSocial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8%;
  margin-bottom: 8%;
}

.boxCarAndSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carAndSocial {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ImgAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgCarAndDescription {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.boxImgCar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-scale-grey-10;
  width: 80%;
  height: 80%;
  border-radius: 4px;
  img {
    width: 80%;
    height: 80%;
  }
}
.carNamePrice {
  background-color: $color-grey-scale-grey-10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  width: 80%;
  gap: 1rem;
  border-radius: 4px;
}
.boxTagsPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    gap: 0.8rem;
  }
  span {
    @include text-style-heading-heading-7-500;
    color: $color-grey-scale-grey-1;
  }
}
.btnBuy {
  @include button-buy-small;
  color: #ffffff;
}
.carDescription {
  background-color: $color-grey-scale-grey-10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  width: 80%;
  gap: 1rem;
  border-radius: 4px;
  h2 {
    @include text-style-heading-heading-6-600;
    color: $color-grey-scale-grey-1;
  }
  p {
    @include text-style-text-body-1-400;
  }
}
.commentsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  background-color: $color-grey-scale-grey-10;
  margin-top: 16px;
  width: 80%;
  padding: 3%;
  height: fit-content;
  border-radius: 4px;
  h2 {
    margin-top: 2rem;
  }
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    background: #e34d8c;
    border-radius: 150px;
  }
  h5 {
    width: 4px;
    height: 4px;
    left: 115px;
    top: 14px;
    background: $color-grey-scale-grey-4;
  }
}
.liComment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  p {
    @include text-style-text-body-2-400;
    color: $color-grey-scale-grey-2;
  }
}
.comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  h3 {
    @include text-style-text-body-2-500;
    color: $color-grey-scale-grey-1;
  }
}
.commentsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.commentBox {
  background-color: $color-grey-scale-grey-10;
  margin-top: 16px;
  width: 80%;
  padding: 3%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 4px;
}
.commentArea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.textareaWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.textareaWrapper textarea {
  margin-top: 1.5rem;
  width: 100%;
  height: 120px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}
.textareaWrapper .submitButton {
  bottom: 10px;
  right: 30px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
}
.submitButtonEnabled {
  bottom: 10px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 108px;
  height: 38px;
  background: $color-brand-brand-1;
  border: 0.4rem solid $color-brand-brand-1;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
}
.imgAndDescription {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.submitButtonDisabled {
  bottom: 10px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 108px;
  height: 38px;
  background: $color-grey-scale-grey-5;
  border: 0.4rem solid $color-grey-scale-grey-5;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
}
.commentArea .tags {
  display: flex;
  gap: 0.5rem;
}
.commentArea .tags .tagButton {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  color: $color-grey-scale-grey-3;
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 500;
}
.comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  h3 {
    @include text-style-text-body-2-500;
    color: $color-grey-scale-grey-1;
  }
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    background: #e34d8c;
    border-radius: 150px;
  }
}
.boxPhotosAndUser {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.photosAndUser {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
  gap: 3.2rem;
  height: fit-content;
  background: #fdfdfd;
  border-radius: 4px;
}
.photosList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.photosList img {
  width: 30%;
  height: 30%;
  padding: 3%;
  background: #e9ecef;
  border-radius: 4px;
}
.footer {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: #ffffff;
}
.btnFooter {
  width: 53px;
  height: 50px;
  background: $color-grey-scale-grey-1;
  border-radius: 4px;
}
.footerLeft {
  width: calc(33.33% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footerLeft h4 {
  display: flex;
  margin-top: 5%;
  align-items: baseline;
}
.footerRight {
  width: calc(33.33% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  width: calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnFooter {
  width: 53px;
  height: 50px;
  background: $color-grey-scale-grey-1;
  border-radius: 4px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}
.allSectionsComments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 480px) {
  .boxAnnounceAndSocial {
    flex-direction: column;
    justify-content: center;
    margin-top: 25%;
  }
  .photosAndUser {
    gap: 1rem;
  }
  .boxPhotosAndUser {
    width: 100%;
    margin-top: 1rem;
  }
  .ImgAndDescription {
    display: flex;
    flex-direction: column;
  }

  .allSectionsComments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }
  .imgCarAndDescription {
    width: 100%;
  }
}
