@use "../../scss/abstracts/" as *;

.conteiner {
  display: flex;
  flex-direction: column;

  gap: 8px;

  .input {
    width: 100%;
    height: 48px;

    border: 1.5px solid $color-grey-scale-grey-4;

    padding-inline: 16px;

    border-radius: 4px;

    resize: none;
  }

  .input::placeholder {
    @include text-style-inputs-buttons-input-placeholder;
  }

  .textarea {
    width: 100%;
    height: 80px;

    border: 1.5px solid $color-grey-scale-grey-4;

    padding-inline: 16px;

    border-radius: 4px;

    resize: none;
  }

  .textarea::placeholder {
    @include text-style-inputs-buttons-input-placeholder;
  }

  .textarea:hover {
    background-color: $color-grey-scale-grey-6;

    border: none;
  }

  .input:hover {
    background-color: $color-grey-scale-grey-6;

    border: none;
  }

  .label {
    @include text-style-inputs-buttons-input-label;
  }

  .textarea:focus {
    border: 2px solid $color-brand-brand-1;
  }

  .input:focus {
    border: 2px solid $color-brand-brand-1;
  }

  .red {
    border: 2px solid $color-feedback-alert-1;

    height: 48px;

    padding-inline: 16px;

    border-radius: 4px;

    ::placeholder {
      @include text-style-inputs-buttons-input-placeholder;
    }
  }

  .red:hover {
    background-color: $color-grey-scale-grey-6;

    border: none;
  }
  .red:focus {
    border: 2px solid $color-brand-brand-1;
  }

  .small {
    color: $color-feedback-alert-1;
    font-size: 1rem;
  }
}
