@use "../../scss/abstracts/" as *;

.boxCars {
  width: 100%;
  height: 100%;
  display: flex;

  flex-wrap: wrap;
  gap: 1rem;
}
.container {
  object-fit: cover;

  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  min-width: 250px;
  h3 {
    @include text-style-heading-heading-7-600;
  }

  p {
    @include text-style-text-body-2-400;
    color: $color-grey-scale-grey-2;
  }
}

.boxImage {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-grey-scale-grey-8;

  width: 100%;

  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
    min-height: 151px;

    scale: 0.8;

    transition: 0.4s;
  }
}

.boxUser {
  display: flex;
  gap: 0.5rem;

  .boxImageOwner {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;

    color: $color-grey-scale-grey-10;
  }
}

.boxTagsPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    @include text-style-heading-heading-7-500;
    color: $color-grey-scale-grey-1;
  }
  p {
    @include text-style-text-body-2-500;
  }

  div {
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 0.8rem;
  }
}

.container:hover {
  .boxImage {
    img {
      scale: 1;
    }

    outline: 2px solid $color-brand-brand-1;
  }
}
