// posso utilizar através do @include nomeMixin
// ex: h2 {
//   margin-top: 1rem;
//   @include text-style-heading-heading-2-600;
//
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

@mixin text-style-heading-heading-1-700 {
  font-size: 4.4rem;
  font-weight: 700;
  font-family: "Lexend";
  font-style: normal;
  line-height: 56px;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-2-600 {
  font-size: 3.6rem;
  font-weight: 600;
  font-family: "Lexend";
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-3-500 {
  font-size: 3.2rem;
  font-weight: 500;
  font-style: normal;
  font-family: "Lexend";
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-3-600 {
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "Lexend";
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-4-600 {
  font-size: 2.8rem;
  font-family: "Lexend";
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-4-500 {
  font-size: 2.8rem;
  font-weight: 500;
  font-style: normal;
  font-family: "Lexend";
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-5-500 {
  font-size: 2.4rem;
  font-weight: 500;
  font-style: normal;
  font-family: "Lexend";
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-5-600 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Lexend";
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-6-500 {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-family: "Lexend";
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-6-600 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Lexend";
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-heading-heading-7-500 {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-family: "Lexend";
  text-transform: none;
}
@mixin text-style-heading-heading-7-600 {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  font-family: "Lexend";
  text-transform: none;
}
@mixin text-style-inputs-buttons-input-label {
  font-size: 1.4rem;
  font-family: "Lexend";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-inputs-buttons-input-placeholder {
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-inputs-buttons-button-big-text {
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-text-body-1-400 {
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-text-body-1-600 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Inter";
  font-style: normal;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-text-body-2-400 {
  font-size: 1.4rem;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-text-body-2-500 {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  font-family: "Inter";
}

@mixin button-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  background-color: $color-grey-scale-grey-10;

  width: 133px;
  height: 48px;

  border: 1.5px solid $color-grey-scale-grey-4;
  border-radius: 4px;

  color: $color-grey-scale-grey-0;
  font-weight: 600;
}

@mixin button-buy-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;

  width: 100px;
  height: 38px;

  background: $color-brand-brand-1;

  border: 1.5px solid $color-brand-brand-1;
  border-radius: 4px;
}

@mixin button-big-text {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  background: none;
  width: fit-content;
  height: 48px;

  border: 1.5px solid $color-brand-brand-1;
  border-radius: 4px;

  color: $color-brand-brand-1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
}
